alabaster==0.7.13
altgraph==0.17.3
attrs==22.2.0
Babel==2.11.0
coverage==7.1.0
dill==0.2.5
docutils==0.19
exceptiongroup==1.1.0
Flask==0.10.1
Flask-Cors==3.0.2
Flask-Script==2.0.5
Flask-SocketIO==2.5
gevent==20.9.0
greenlet==0.4.17
imagesize==1.4.1
iniconfig==2.0.0
itsdangerous==0.21
Jinja2==2.9.2
MarkupSafe==2.0.1
mccabe==0.7.0
numpydoc==0.6.0
opentrons==2.5.0+28.g8fa438431.dirty
packaging==23.0
pkginfo==1.9.6
pluggy==1.0.0
psutil==4.3.1
pycodestyle==2.10.0
pydocstyle==6.3.0
pyflakes==3.0.1
Pygments==2.14.0
pyinstaller==5.7.0
pyinstaller-hooks-contrib==2022.15
pylama==8.4.1
pyserial==3.2.1
pytest==7.2.1
pytest-cov==4.0.0
python-engineio==1.7.0
python-socketio==1.4.4
pytz==2022.7.1
requests==2.14.2
requests-toolbelt==0.10.1
six==1.16.0
snowballstemmer==2.2.0
Sphinx==1.4.8
tomli==2.0.1
tqdm==4.64.1
twine==1.9.1
Werkzeug==0.14.1
zope.event==4.6
zope.interface==5.5.2
